<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting...</title>
    <script>
      window.location.href = "{{ url }}";
    </script>
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <p>
      We're redirecting you to the right page. If that doesn't work, click the
      llama:
      <br />
      <a style="font-size: 10em; text-decoration: none;" href="{{ url }}"
        >🦙</a
      >
    </p>
    <small><a href="{{ url }}">{{ url }}</a></small>
  </body>
</html>
