<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="canonical" href="{{ site.url}}{{ page.url }}" />
  <meta name="description" content="{{ page.description }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url"           content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{ page.title }}" />
  <meta property="og:description"   content="{{ page.description }}" />
  <meta property="og:image"         content="{{ site.url }}/llama-drama-wide.jpg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#b91d47">
  <link rel="stylesheet" type="text/css" href="/css/styles2.css">
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-121414255-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
  <!-- <script async src="/js/autotrack.js"></script> -->
</head>
<body>
 <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=198030783947907&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div id="particles-js"></div>
  <div class="wrapper">
    <a href="/">
      <img src="/images/llamadrama.svg" class="llama-drama" alt="Llama Drama" /><span class="tm">TM</span>
    </a>
    <br />
    <nav class="navigation">
      <a class="button purchase-button js-track-outbound-link" href="https://amzn.to/2xggP1f">Buy Now</a>
      <a class="button contact-button" href="/instructions/">How to Play</a>
      <a class="button contact-button" href="/reviews/">Reviews</a>
      <a class="button contact-button" href="/contact/">Contact</a>
    </nav>
    {{ content }}
    <footer>
      <br />
      <div
        class="fb-like"
        data-href="https://www.facebook.com/llamadramagame"
        data-layout="button_count"
        data-action="like"
        data-size="large"
        data-show-faces="false"
        data-share="true"></div>
      <br /><br />
      &copy; 2018 Yashar Brothers<br /><br />
    </footer>
  </div>


  <script src="/js/particles.min.js"></script>
  <script>
    particlesJS.load('particles-js', '/js/particlesjs-config-3.json');
    function trackOutboundLinks() {
      var links = document.getElementsByClassName('js-track-outbound-link')
      for (var i = 0; i < links.length; i++) {
        var link = links[i]

        link.onclick = function(event) {
          var url = link.href
          console.log('url')
          if (typeof ga === 'undefined' || !ga.hasOwnProperty('loaded') || ga.loaded !== true) {
            console.log('Analytics blocked')
            window.location.href = url
          }

          ga('send', 'event', 'outbound', 'click', url, {
            hitCallback: function() {
              window.location.href = url
            }
          })
          return false
        }
      }
    }
    trackOutboundLinks()

  </script>
</body>
</html>
